.header {
	position: relative; /*for navbar*/
	height: 305px;
	background-image: (url('../assets/images/image-hero-mobile.jpg'));
	background-repeat: no-repeat;
	background-size: cover;
	background-color: black;

	@media screen and (min-width: 768px) {
		background-image: (url('../assets/images/image-hero-desktop.jpg'));
		padding: 2rem 5rem;
	}
}
.add-opacity {
	background-image: (linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('../assets/images/image-hero-mobile.jpg'));
}
.hide {
	display: none;
}