@use '../abstracts' as *;

.main {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-color: coral;

}
.container {
	width: 350px;

	@include medium {
		width: 70%;
	}
	@include large {
		width: 50%;
	}
}