@use '../abstracts' as *;

/*
- MIXIN-BUTTON
- BTN-BACK
- BTN-BOOKMARK
- BTN-REWARD
*/

@mixin button {
	border: none;
	border-radius: 30px;
	padding: 1rem 2rem;
	color: white;
	background-color: $moderate-cyan;

	&:hover {
		cursor: pointer;
		background-color: $dark-cyan;
	}
}

// BTN-BACK
.btn-back {	
	@include button; 
}

// BTN-BOOKMARK
.btn-bookmark {
	width: 50px;
	background-color: transparent;
	border: none;

	span {
		display: none;

		@include medium {
			display: inline-block;
			position: absolute;
			top: 18px;
			right: 28px;
		}	
	}
	
	@include medium {
		display: flex;
		position: relative;
		width: 170px;
		padding: 0 .5rem 0 0;
		background-color: #DEE2E2;
		border-radius: 30px;
		padding-left: 0;

		&:hover {
			cursor: pointer;
		
			.circle {
				fill: #737070;
			}
			span {
				color: #A3A0A0;
			}
		}	
	}
}


// BTN-REWARD
.btn-reward {
	@include button;
}