@use '../abstracts' as *;
@use '../base' as *;

/*
- MIXIN-BUTTON
- BTN-BACK
- BTN-BOOKMARK
- BTN-REWARD
*/

@mixin button {
	margin-bottom: 3vw;
	padding: 1rem 1.5rem;
	border: none;
	border-radius: 24px;
	background-color: $moderate-cyan;
	font-size: $text-button;
	color: white;

	&:hover {
		cursor: pointer;
		background-color: $dark-cyan;
	}
}

// BTN-BACK
.btn-back {	
	@include button; 
}

// BTN-BOOKMARK
.btn-bookmark {
	margin-bottom: 3vw;
	padding: 0 2.5vw 0 0;
	background-color: transparent;
	border: none;
	border-radius: 24px;

	span {
		display: none;

		@include medium {
			display: inline-block;
			font-size: $text-button;
			padding-left: .5rem;
		}	
	}
	
	@include medium {
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: #DEE2E2;		

		&:hover {
			cursor: pointer;
		
			.circle {
				fill: #737070;
			}
			span {
				color: #A3A0A0;
			}
		}	
	}
}


// BTN-REWARD
.btn-reward {
	@include button;
	margin-bottom: 0;
}