@use '../config' as *;

.stats {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	width: 300px;
	text-align: center;
	background-color: white;
	padding: 1.5rem 1rem;


	@media screen and (min-width: 800px) {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: flex-start;
		width: 750px;
	}

	h2 {
		font-weight: bolder;
		font-size: 2rem;
		margin-bottom: 1rem;	
	}
	span {
		display: block;
		font-size: 1rem;
		color: $dark-gray;
		margin-bottom: 1rem;
		position: relative;
		width: 250px;

		&:not(.noline) {
			&:after {
				content: '';
				position: absolute;
				height: 5px;
				width: 30%;
				bottom: -115%;
				left: 35%;
				border-bottom: 1px solid $dark-cyan;

				@media screen and (min-width: 800px) {
					border-bottom: none;
					border-right: 1px solid $dark-cyan;
					height: 70px;
					padding-left: 6rem;
					bottom: 0;
				}	
			}
		}
	}
}

.stats-bar {
	width: 100%;
	height: 1.1rem;
	border-radius: 20px;
	background-color: #D1CFCF;

	@media screen and (min-width: 768px) {
		margin: 2rem auto;
		width: 600px;
	}	
}
.stats-full-bar {
	height: 1.1rem;
	background-color: $moderate-cyan;
	border-radius: 20px;	
}